
@font-face {
    font-family:"Orbitron Black";
    src:url("fonts/orbitron-black.woff") format("woff"),
        url("fonts/orbitron-black.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}


nav {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 100px;
    padding: 0;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
}

nav a:hover {
    color: yellow;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

h1 {
    font-family: "Orbitron Black", sans-serif;
    
    font-size: 100px;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
}

a{
    font-family: 'Orbitron Black', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
}


.principal {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    gap: 20%;
    margin: 30px;
    
}

.main-title h1{
    color: #fff;
    font-size: 12vh;
}

.main-image {
    margin-right: 100px;
}

.background {
    z-index: -1;
    position: relative;
    margin: 0;
    height: 10px;
    
}

.parte_para_ir_a_productos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 15%;
    margin-right: 10px;
}
.parte_para_ir_a_productos h2{
    font-family: 'Orbitron Black', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color:black;
    padding: 3px;

    
    
}
.parte_para_ir_a_productos p{
    font-family: 'Orbitron Black', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:black;
    padding: 10px;
}
.imagen_izquierda {
    margin-left: 100px;
}

.texto_derecha .mi-boton {
    background-color: #333333;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-family: 'Orbitron Black', sans-serif;
    font-size: 18px;
    font-weight: 500;
    z-index: 10;
    
    display: inline-block;
    text-decoration: none;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.texto_derecha .mi-boton:hover {
    background-color: #ddff00;
    color: #333333;
    cursor: pointer;
}
.imagen_izquierda {
  width: 1200px;        
  height: 800px;       
  overflow: hidden;   
  border-radius: 8px;  
}
.imagen_izquierda img {
  width: 100%;
  height: 100%;

  object-fit: cover;   
  transform: scale(1.2);     
}


.parte_para_ir_a_algoritmos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 15%;
    padding-top: 30%;
    padding-right: 10%;
    padding-left: 10%;
    
    

}

.parte_para_ir_a_algoritmos h2 {
    font-family: 'Orbitron Black', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color:black;
    padding: 3px;

}
.parte_para_ir_a_algoritmos p {
    font-family: 'Orbitron Black', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:black;   
    padding: 10px;
}

.imagen_derecha {
  width: 1200px;        
  height: 800px;       
  overflow: hidden;   
  border-radius: 8px;  
}
.imagen_derecha img {
  width: 100%;
  height: 100%;

  object-fit: cover;   
  transform: scale(1.2);     
}

.texto_izquierda .mi-boton2 {
    background-color: #333333;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    font-family: 'Orbitron Black', sans-serif;
    font-size: 18px;
    font-weight: 500;
    z-index: 10;
    
    display: inline-block;
    text-decoration: none;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.texto_izquierda .mi-boton2:hover {
    background-color: #ddff00;
    color: #333333;
    cursor: pointer;
}

.loop-texto1{
    display: flex;
    overflow: hidden;
    white-space: nowrap; 
    width: 100%;
    margin-top: 400px;
    margin-bottom: 15px;
}
.loop-texto {
    color: #333333;
    font-family: 'Orbitron Black', sans-serif;
    font-size: 100px;
    margin-top: 100px;
    text-align: right;
    animation: mover 5s infinite linear; 
    font-weight: 600;
}

@keyframes mover {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}


.contenedorRojo {

    width: 100%;
    background-color: #333333;
    border-top: 15px solid red;
    border-bottom: 15px solid red;
    align-items: center;
  

}
.contenedorRojo p {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Orbitron Black';
    font-size: 80px;
}

.spacer {
    margin-top: 10%;
    margin-bottom: -5%;
    margin-left: 1%;
    z-index: -121;
    transform: scale(2, 1);
}

.images2 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    transform: scale(1);
}
.images:hover {
    transform: scale(1.2);
}


@keyframes mover {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}


.parte_para_ir_a_cronometro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 10%;
    margin-right: 10px;
}

.parte_para_ir_a_cronometro h2{
    font-family: 'Orbitron Black', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color:black;
    padding: 3px;
}
.parte_para_ir_a_cronometro p{
    font-family: 'Orbitron Black', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:black;
    padding: 10px;
}

.imagen_izquierda1 {
  width: 700px;        
  height: 600px;       
  overflow: hidden;   
  border-radius: 8px;  
  margin-left: 20vh;
}
.imagen_izquierda1 img {
  width: 100%;
  height: 100%;

  object-fit: cover;   
  transform: scale(1.2);     
}

footer {
    background-color: #333333;
    padding: 30px;
}
footer p {
    color: #fff;
    text-align: center;
    font-family: 'Orbitron Black';
    font-size: 18px;
}

.grid-productos {
    padding: 50px;
    display: flex;
    height: 100vh;
    gap: 20%;
    background-color: #333333;
    color: #fff;
}
.grid-productos {
    color: #fff;
    text-align: center;
    font-family: 'Orbitron Black';
    font-size: 18px;
}

.producto .imgprincipal {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display:flex;
}

.producto .imgsecundaria {
    height: 300px;
    width: 300px;
    margin-top: -300px;
    object-fit: cover;
    display:flex; 
}

.producto .imgsecundaria:hover {
    visibility: hidden;
}